#chat-window
{
  height: 400px; 
  overflow: scroll;
  background: #f9f9f9;
}
.button-row{
  margin: 10px;
}

.space {

    padding: 1%;
    margin-top: 1%;
}

body {
    background-image: url("img/bg-image-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    
 }
 .opa {
     opacity: .90;
 }

 .top {
     margin-top: 20px;
 }